@import "variable";

.header {
  background-color: $header-bg-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    display: inline-block;
    text-align: center;

    .img {
      margin: 0;
      height: auto;
      width: 100px;
    }
  }
}
